{% extends 'base.html.twig' %}

{% block title %}О нас{% endblock %}

{% block body %}
{{uri}}
<div class="card" style="align: justify;">
  <div class="card-body">
    <p class="card-text">
      Привет всем! Меня зовут Алина. </br> Я человек широкой души, обожаю дарить радость людям, приносить в их жизнь хорошие моменты, делать людей счастливыми.

      Лучший сайт кулинарии был создан только для Вас. И здесь Вы не встретите скучных и неинтересных рецептов.

      Мне искренне, хочется верить, что этот сайт кулинарии сделает вашу жизнь на кухне чуточку проше, ярче и вкуснее.

      А если вы хотите поделиться своими кулинарными творениями со мной, то вы можете написать мне на почту, вконакте, одноклассниках и в инстаграмме, которые распологаются в раделе <b>Контакты</b>
      в главном меню на сайте.

      Я вас очень люблю! И жду на страницах своего кулинарного блога.
    </br>
      С уважением Алина!
    </p>
  </div>
</div>

{% endblock %}
